body {
  background-color: black;
  color: white;
  max-width: 12cm;
  margin: 0 auto;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

label, input {
  display: inline-block;
}

.btn, input[type="number"] {
  background-color: #252322;
  color: white;	
}

textarea {
  width: 449px;
  background-color: #252322;
  color: white;
  resize: none;
}

label { width: 20%; }
input[type="range"] { width: 61%; }

.hbtn { width: 50%; }
.fbtn { width: 100%; }

a:link {
  color: #00FF00;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}