body {
  background-color: black;
  color: white;
  max-width: 12cm;
  margin: 0 auto;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

label, input {
  display: inline-block;
}

textarea {
  width: 449px;
}

label { width: 20%; }
input[type="range"] { width: 61%; }
input[type="submit"] { width: 50%; }
input[type="button"] { width: 50%; }


a:link {
  color: #00FF00;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}